* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Minecraft';
    src: url('./fonts/Minecraft.ttf'); 
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body.login {
    font-family: 'Minecraft', sans-serif;
    background-image: url('imagem/loginimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-color: rgba(255, 255, 255, 0.9); /* Branco levemente transparente */
    padding: 4rem;
    border-radius: 1rem;
    border: 4px solid #3e3e3e; /* Borda estilo Minecraft */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 40rem;
    width: 90%;
}

h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

label {
    font-size: 1.8rem;
    color: #1a1a1a;
}

input[type="email"], 
input[type="password"] {
    padding: 1rem;
    font-size: 1.6rem;
    font-family: 'Minecraft', sans-serif; /* Aplica a fonte nos campos também */
    border: 2px solid #333;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Minecraft', sans-serif;
    cursor: pointer;
    border: none;
    border-bottom: 4px solid #2e6630; /* Efeito de botão de jogo */
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background-color: #45a049;
}